{% include partials/head.html %}
        <header>
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item brand" href="http://pacificode.github.io"><strong>Pacificode</strong></a>
                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-start">
                        <a href="http://pacificode.github.io" class="navbar-item">Inicio</a>
                        <a href="http://pacificode.github.io/contact" class="navbar-item">Contacto</a>
                    </div>
                    <div class="navbar-end">
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">Magento extensions</a>
                            <div class="navbar-dropdown">
                                <a class="navbar-item">Extensiones</a>
                                <a class="navbar-item">Documentación</a>
                                <hr class="navbar-divider">
                                <a class="navbar-item">Soporte técnico</a>
                            </div>
                        </div>
                        <div class="navbar-item">
                            <div class="buttons">
                                <a class="button is-primary"><strong>Contacto</strong></a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <figure class="image">
                            <img src="pacificode.png" style="max-width:500px;max-height:500px;margin:0 auto;">
                        </figure>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <h3 class="title has-text-centered">Estamos contruyendo nuestro sitio web.</h3>
                        <h5 class="subtitle has-text-centered">Pero si tienes alguna consulta por favor escríbeme <a href="mailto:paulsoberanes@gmail.com">un correo</a> y con gusto te responderé a la brevedad posible.</h5>
                    </div>
                </div>
            </div>
        </section>
{% include partials/footer.html %}